/* ---------------- Pane Legend ---------------- */

.pane_legend {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    margin-top: 4px;
    margin-left: 4px;
}

.ind_tag {
    display: flex;
    padding: 0px 8px;
    margin: 2px 0px;
    width:fit-content;
    height: 19px;
    box-sizing: border-box;

    align-items: center;
    font-size: small;

    border-radius: 3px;
    background-color: var(--legend-bg-color);
    border: 1px solid var(--legend-border-color);
}

.ind_tag:first-child {
    font-size: larger;
    height: 24px;
}

.ind_tag .icon{
    margin-left: 2px;
}

.legend_toggle_btn {
    display:flex;
    width:fit-content;
    height: 14px;
    margin: 2px 0px;
    padding: 4px 8px;
    box-sizing: border-box;

    align-items: center;

    border-radius: 3px;
    background-color: var(--legend-bg-color);
    border: 1px solid var(--legend-border-color);
}

.ind_tag:hover,
.legend_toggle_btn:hover {
    border: 1px solid var(--legend-border-color-hover);
    background-color: var(--legend-bg-color-hover);
}

/* ---------------- Charts / Panes ---------------- */

.tv-lightweight-charts { 
    box-sizing: border-box; 
    cursor: crosshair;
}

.pane_ruler,
.frame_ruler{
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/* Below Targets any class that ends in 'pane' */

[class$="pane"] { 
    position: absolute; 
    box-sizing: border-box;
    border: solid var(--chart-border) 1px;
}

[class$="pane"][active] {
    border-color: var(--accent-color);
}


/* ---------------- Scale Button Interface ---------------- */

.scale_buttons_left,
.scale_buttons_right {
    top: 8px;
    z-index: 3;
    width: 28px;
    position: absolute;

    display: grid;
    grid-template-columns: auto;
    background: var(--chart-bg-color-top);
}

/* accounts for the pane's border  */
.scale_buttons_left { left: 8px; }
.scale_buttons_right { right: 8px; }

.scale_buttons_left .scale_icon_text,
.scale_buttons_right .scale_icon_text {
    font-weight: 700;
    user-select: none;
    color: var(--text-color);
    font-family: Lucida; /* Manually Setting this so the I is identifiable */
    text-align: center;
    text-wrap: nowrap;

    background: var(--chart-bg-color-top);
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    margin-bottom: 4px;
}

/* Reset rule to remove padding margin at the bottom */
.scale_buttons_left .scale_icon_text:last-child,
.scale_buttons_right .scale_icon_text:last-child {
    margin-bottom: 0px;
}


.scale_buttons_left .scale_icon_text[active],
.scale_buttons_right .scale_icon_text[active]  {
    background: var(--accent-color)
}