.obj_tree_resize_handle {
    width:-webkit-fill-available;
    height: 2px;
    margin: 3px 6px;
    cursor: ns-resize;
    background-color: var(--hover-color);
    
    border-radius: 3px;
    border: 3px solid var(--layout-main-fill);
}

.obj_tree { overflow-y: auto; }

.obj_tree .drag_tag { border-radius: 5px; }
.obj_tree .drag_tag[target] {
    border-left: solid 1px var(--second-accent-color);
}