*::before {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    border-width: 0;
    z-index: 0;
}

/* --------------- Color Variables --------------- */
:root {
    --background-fill: #2a2e39;
    --layout-main-fill: #131722;

    --accent-color: #2962ff;
    --separator-color: #222631;
    --text-color: #b2b5be;

    --chart-border: var(--background-fill);
    --chart-border-hover: #434d66;
    --chart-background: var(--background-fill);
    --chart-separator-fill: var(--background-fill);
    --chart-separator-hover: #434d66;


    --overlay-fill: #1e222d;
    --overlay-shadow: #2e63f52a;
    --overlay-menu-separator: var(--accent-color);

    --icon-color: #d1d4dc;
    --icon-hover-color: #2a2e39;
    --icon-active-color: var(--accent-color);
    --icon-background-color: #0000;
    --star-active-color: #f9a825;

    --topbar-icon-hover-color: var(--icon-hover-color);
    --topbar-icon-active-color: var(--icon-active-color);
    --topbar-icon-background-color: var(--icon-background-color);
    --topbar-separator-color: var(--separator-color);

    --toolbar-icon-hover-color: var(--icon-hover-color);
    --toolbar-icon-active-color: var(--icon-active-color);
    --toolbar-icon-background-color: var(--icon-background-color);
    --toolbar-separator-color: var(--separator-color);
}

/* #region --------------- Base Classes --------------- */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 300px;
    min-height: 200px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-fill);
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet_MS", "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    overflow: hidden;
    background-color: var(--background-fill);
    border-radius: 5px;
}

/* #endregion */

/* #region --------------- Main Container Layout --------------- */

.layout_main {
    overflow: hidden;
    position: absolute;
    background-color: var(--layout-main-fill);
    border-radius: 5px;
}

.layout_flex {
    justify-content: flex-start;
    align-content: center;
}

.layout_container_row {
    flex-direction: row;
    background-color: var(--background-fill);
    column-gap: 1px;
    row-gap: 0px;
}

.layout_container_col {
    flex-direction: column;
    background-color: var(--background-fill);
    column-gap: 0px;
    row-gap: 1px;
}

/* #endregion */

/* #region --------------- Icon Params --------------- */


.icon {
    border-radius: 5px;
    color: var(--icon-color);
    background-color: var(--icon-background-color);
}

.icon_l_margin {
    margin-left: 5px;
}

.icon_r_margin {
    margin-right: 5px;
}

.icon_h_margin {
    margin-left: 5px;
    margin-right: 5px;
}

.icon_v_margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon_hidden {
    visibility: hidden;
}

.icon_hover:hover {
    background-color: var(--icon-hover-color);
}

.icon_active {
    background-color: var(--icon-active-color);
}


.icon_text,
.button_text,
.menu_text,
.overlay_sub_menu_text {
    height: -webkit-fill-available;
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-wrap: nowrap;
}

.button_text {
    width: auto;
    margin: 4px 1px;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
    padding: 3px;
}

.icon_text {
    font-weight: bold;
}

.selected {
    color: var(--accent-color);
}

.menu_text {
    font-weight: normal;
    margin: 0px 10px;
}

/* #endregion */

/* #region --------------- Chart Params --------------- */

.chart_frame {
    box-sizing: border-box;
    border: solid var(--chart-border) 2px;
    flex: 1 1 auto;
    border-radius: 2px;
    background-color: var(--background-fill);
}

.chart_frame_active {
    border-color: var(--chart-border-hover);
}

.chart_pane {
    border: solid var(--chart-border) 1px;
    position: absolute;
}

.chart_pane_active {
    border-color: var(--accent-color);
}

.chart_separator {
    flex-shrink: 0;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid var(--chart-separator-fill) 1px;
    background-color: var(--background-fill);
}

.chart_separator:hover {
    border-color: var(--chart-separator-hover);
    background-color: var(--chart-separator-hover);
}

.chart_watermark_white,
.chart_watermark_black {
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    inset: 0px;
    background-size: calc(80%) calc(80%);
    background-repeat: no-repeat;
    background-position: center;
}

.chart_watermark_black {
    background-image: url(watermark_black.svg);
}

.chart_watermark_white {
    background-image: url(watermark_white.svg);
}

/* #endregion */

/* #region --------------- Legend Params --------------- */

.legend {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    z-index: 40;
    left: 10px;
    top: 10px;
    flex-direction: column;
    background-color: #0000;
}

.legend_source {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.legend_toggler {
    width: 40px;
    height: 30px;
}

/* #endregion */

/* #region --------------- Topbar Params --------------- */


.topbar {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 5px;
}

.topbar_left {
    flex: 1 1 100px;
    overflow-x: hidden;
    justify-content: flex-start;
}

.topbar_right {
    flex: 1 1 10px;
    overflow-x: hidden;
    justify-content: flex-end;
}

.topbar_separator {
    width: 2px;
    background-color: var(--topbar-separator-color);
    flex-shrink: 0;
}

.topbar_item {
    margin: 5px;
    border-radius: 5px;
    width: auto;
    height: -webkit-fill-available;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--toolbar-icon-background-color);
}


.topbar_container {
    width: auto;
    height: -webkit-fill-available;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--toolbar-icon-background-color);
}

.topbar_menu_button {
    display: flex;
    width: auto;
    height: 80%;
    border-radius: 5px;
    align-items: center;
    margin: 0px 2px;
}

.topbar_menu_button:hover {
    background-color: var(--icon-hover-color);
}


/* #endregion */

/* #region --------------- Toolbar Params --------------- */

.toolbar {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.toolbar_top {
    flex: 1 1 100px;
    overflow-y: hidden;
    justify-content: flex-start;
}

.toolbar_bottom {
    flex: 1 1 10px;
    overflow-y: hidden;
    justify-content: flex-end;
}

.toolbar_separator {
    height: 2px;
    background-color: var(--toolbar-separator-color);
    flex-shrink: 0;
}

.toolbar_item {
    width: -webkit-fill-available;
    height: 34px;
    padding-left: 4px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--toolbar-icon-background-color);
}

.toolbar_toggler {
    width: 38px;
    height: 38px;
    background-color: var(--toolbar-icon-background-color);
}

.toolbar_menu_button {
    width: 8px;
    height: 28px;
    border-radius: 5px;
    align-items: center;
}

.toolbar_menu_button:hover {
    background-color: var(--icon-hover-color);
}


/* #endregion */

/* #region --------------- Overlay Menu Params --------------- */


.overlay_manager {
    position: absolute;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0000;
    pointer-events: none;
    overflow: hidden;
    z-index: 50;
}

.overlay_menu {
    display: none;
    pointer-events: none;

    z-index: inherit;
    position: fixed;
    width: auto;
    height: auto;
    /* border: solid var(--chart-border) 2px; */
    border-radius: 5px;
    background-color: var(--overlay-fill);
    box-shadow: 1px 1px 1px 1px var(--overlay-shadow);

    align-items: flex-start;
    flex-direction: column;
}

.overlay_sub_menu {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.overlay_sub_menu_text {
    width: -webkit-fill-available;
    font-weight: bold;
    font-size: smaller;
    text-align: left;
    margin: 2px 24px 2px 8px;
}

.overlay_menu_separator {
    width: -webkit-fill-available;
    border-top: 1px solid var(--overlay-menu-separator);
}

.overlay_menu_active {
    display: flex;
    pointer-events: all;
}

.menu_item {
    width: -webkit-fill-available;
    margin: 4px 2px;
    align-items: center;
    display: flex;
}

.menu_selectable,
.menu_selectable_expand {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    border-radius: 5px;
    margin: 2px;
    justify-self: flex-start;
    align-items: center;
}

.menu_selectable_expand {
    width: -webkit-fill-available;
}

.menu_selectable:hover,
.menu_selectable_expand:hover,
.overlay_menu_separator:hover {
    background-color: var(--icon-hover-color);
}

.star_active {
    color: var(--star-active-color);
}

.menu_item_star {
    border-radius: 5px;
    width: 18px;
    height: 18px;
}


/* #endregion */

/* --------------- Sidebar Params --------------- */