*::before {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    border-width: 0;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 300px;
    min-height: 200px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2a2e39;
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet_MS", "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    overflow: hidden;
    background-color: #2a2e39;
    /* background-color: #2962ff; Hover Background Color */
    border-radius: 5px;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    overflow: hidden;
    z-index: 50;
    /*Transparent since it will overlay full window*/
    background-color: rgba(0, 0, 0, 0);
}

.layout_main {
    overflow: hidden;
    position: absolute;
    background-color: #131722;
    /* background-color: #2962ff; Hover Background Color */
    border-radius: 5px;
}

.legend {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    z-index: 40;
    left: 10px;
    top: 10px;
    flex-direction: column;
    background-color: #0000;
}

.legend_source {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.legend_toggler {
    width: 40px;
    height: 30px;
}

.chart_frame {
    flex: 1 1 auto;
    color: #000;
    border-radius: 5px;
    border: 4px;
    border-color: #aaa;
}

.chart_pane {
    color: #000;
    border-radius: 5px;
}

.separator {
    flex-shrink: 0;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid #2a2e39 1px;
    background-color: #2a2e39;
}

.separator:hover {
    border-color: #434d6698;
    background-color: #434d66;
}