*::before {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    border-width: 0;
    z-index: 0;
}

/* --------------- Color Variables --------------- */
:root {
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --background-fill: #2a2e39;
    --layout-main-fill: #131722;
    --hover-color: #2a2e39;
    --hover-color-light: #454c5e;

    --text-color: #b2b5be;
    --text-light-color: #f3f0f0;
    --text-dark-color: #707277;
    --text-near-black-color: #131722;
    --accent-color: #2962ff;
    --second-accent-color: #f9a825;
    --separator-color: #222631;

    --chart-border: var(--background-fill);
    --chart-border-hover: #434d66;
    --chart-background: var(--background-fill);
    --chart-separator-fill: var(--background-fill);
    --chart-separator-hover: #434d66;

    --tab-text-color: var(--text-color);
    --tab-text-inactive-color: var(--text-dark-color);
    --tab-close-color: var(--text-color);
    --tab-close-hover: var(--text-light-color);
    --tab-close-active: var(--text-color);

    --tab-divider-color: var(--layout-main-fill);
    --tab-hover-color: var(--hover-color-light);
    --tab-active-color: var(--layout-main-fill);
    --tab-background-color: var(--background-fill);

    --overlay-fill: #1e222d;
    --overlay-shadow: #2e63f52a;
    --overlay-menu-separator: var(--accent-color);

    --icon-color: #d1d4dc;
    --icon-hover-color: #2a2e39;
    --icon-active-color: var(--accent-color);
    --icon-background-color: #0000;

    --topbar-icon-hover-color: var(--icon-hover-color);
    --topbar-icon-active-color: var(--icon-active-color);
    --topbar-icon-background-color: var(--icon-background-color);
    --topbar-separator-color: var(--separator-color);

    --toolbar-icon-hover-color: var(--icon-hover-color);
    --toolbar-icon-active-color: var(--icon-active-color);
    --toolbar-icon-background-color: var(--icon-background-color);
    --toolbar-separator-color: var(--separator-color);
}

/* #region --------------- Base Classes --------------- */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 300px;
    min-height: 200px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-fill);
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet_MS", "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    overflow: hidden;
    background-color: var(--background-fill);
    border-radius: 5px;
}

/* #endregion */

/* #region --------------- Main Container Layout --------------- */

.layout_title {
    overflow: hidden;
    position: absolute;
    background-color: var(--background-fill);
    border-radius: 5px;
}

.layout_main {
    overflow: hidden;
    position: absolute;
    background-color: var(--layout-main-fill);
    border-radius: 5px;
}

.layout_flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.layout_container_row {
    display: none;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--background-fill);
    column-gap: 1px;
    row-gap: 0px;
}

.layout_container_col {
    display: none;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--background-fill);
    column-gap: 0px;
    row-gap: 1px;
}

.layout_container_col[active],
.layout_container_row[active] {
    display: flex;
}

.tv-lightweight-charts {
    box-sizing: border-box;
}

/* #endregion */

/* #region --------------- Icon Params --------------- */


.icon {
    border-radius: 5px;
    color: var(--icon-color);
    background-color: var(--icon-background-color);
}

.icon_hidden {
    visibility: hidden;
}

.icon_hover:hover {
    background-color: var(--icon-hover-color);
}

/* .icon[active] {
    background-color: var(--icon-active-color);
} */
.icon:hover {
    background-color: var(--icon-hover-color);
}

.icon[active-star] {
    color: var(--star-active-color);
}

.text,
.icon_text,
.button_text,
.menu_text,
.tab_text,
.tabs .tab .tab-title,
.tabs .tab[active] .tab-title,
.tabs .tab .tab-price,
.tabs .tab[active] .tab-price,
.overlay_sub_menu_text {
    height: -webkit-fill-available;
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-wrap: nowrap;
}

.button_text {
    width: auto;
    margin: 4px 1px;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
    padding: 3px;
}

.selected {
    color: var(--accent-color);
}

.menu_text {
    font-weight: normal;
    margin: 0px 10px;
}


/* #endregion */

/* #region --------------- Chart Params --------------- */

.chart_frame {
    box-sizing: border-box;
    border: solid var(--chart-border) 2px;
    flex: 1 1 auto;
    border-radius: 2px;
    background-color: var(--background-fill);
}

.chart_frame[active] {
    border-color: var(--chart-border-hover);
}

.chart_pane {
    border: solid var(--chart-border) 1px;
    position: absolute;
}

.chart_pane[active] {
    border-color: var(--accent-color);
}

.chart_separator {
    flex-shrink: 0;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid var(--chart-separator-fill) 1px;
    background-color: var(--background-fill);
}

.chart_separator:hover {
    border-color: var(--chart-separator-hover);
    background-color: var(--chart-separator-hover);
}

/*
.chart_watermark_white,
.chart_watermark_black {
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    inset: 0px;
    background-size: calc(80%) calc(80%);
    background-repeat: no-repeat;
    background-position: center;
}

.chart_watermark_black {
    background-image: url(watermark_black.svg);
}

.chart_watermark_white {
    background-image: url(watermark_white.svg);
} */

/* #endregion */

/* #region --------------- Toolbar Params --------------- */

.toolbar {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.toolbar_top {
    flex: 1 1 100px;
    overflow-y: hidden;
    justify-content: flex-start;
}

.toolbar_bottom {
    flex: 1 1 10px;
    overflow-y: hidden;
    justify-content: flex-end;
}

.toolbar_separator {
    height: 2px;
    background-color: var(--toolbar-separator-color);
    flex-shrink: 0;
}

.toolbar_item {
    width: -webkit-fill-available;
    height: 34px;
    padding-left: 4px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--toolbar-icon-background-color);
}

.toolbar_toggler {
    width: 38px;
    height: 38px;
    background-color: var(--toolbar-icon-background-color);
}

.toolbar_menu_button {
    width: 8px;
    height: 28px;
    border-radius: 5px;
    align-items: center;
}

.toolbar_menu_button:hover {
    background-color: var(--icon-hover-color);
}


/* #endregion */

/* #region --------------- Overlay Search Menu Params --------------- */


.overlay_menu_large {
    box-sizing: border-box;
    padding: 10px;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    box-shadow: 2px 2px 6px 1px var(--overlay-shadow);
}

.overlay_title_bar,
.sel_bubbles,
.symbol_list,
.symbol_list_item,
.symbol_text_input {
    display: flex;
    width: -webkit-fill-available;
    margin: 4px 10px;
    align-items: center;
}

.overlay_title_bar {
    height: 50px;
}

.sel_bubbles {
    height: 30px;
}

.symbol_text_input {
    height: 40px;
}

.search_input {
    width: -webkit-fill-available;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-width: 0px 0px 2px 0px;
    margin: 0px 20px;
    padding: 0px 20px;
    text-align: left;
    font-size: larger;
    text-transform: uppercase;
}

.search_input:focus {
    outline: none;
    border-color: var(--star-active-color);
}

.search_submit {
    width: 15%;
    height: -webkit-fill-available;
    background-color: transparent;
    font-size: larger;
}

.search_submit:active {
    color: var(--accent-color);
}

.bubble_item {
    margin: 0px 5px;
    padding: 3px 10px;
    border-radius: 35px;
    background-color: var(--background-fill);
}

.bubble_item:hover {
    color: var(--text-light-color);
    background-color: var(--hover-color);
}

.bubble_item[active] {
    color: black;
    background-color: var(--accent-color);
}

.bubble_item[active]:hover {
    color: var(--text-near-black-color);
}

.bubble {
    width: 10%;
    height: -webkit-fill-available;
    border-radius: 20%;
}

.bubble[selected] {
    width: 15%;
}

.symbol_list {
    width: -webkit-fill-available;
    /*For some weird reason fill-available isn't working => magic number. */
    /* height: -webkit-fill-available; */
    height: calc(100% - 200px);
    text-align: left;
    border: 2px solid var(--background-fill);
    border-radius: 10px;
    background-image: linear-gradient(0deg, var(--overlay-fill) 0%, var(--overlay-fill) 90%, var(--background-fill) 100%);

}

#symbols_table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-spacing: 0px;
}

table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    scrollbar-color: var(--accent-color) transparent;
}

table tbody tr:hover {
    background-color: var(--hover-color);
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

#symbols_table thead {
    border: solid var(--accent-color);
    border-width: 0px 0px 1px 0px;
}

#symbols_table thead tr th,
#symbols_table tbody tr td {
    overflow: hidden;
    width: 15%;
}

#symbols_table thead tr th:nth-child(2),
#symbols_table tbody tr td:nth-child(2) {
    width: 40%
}

.symbol_list th,
.symbol_list td[id*='ticker'] {
    box-sizing: border-box;
    padding-left: 5px;
    border: solid var(--background-fill);
    border-width: 0px 0px 0px 3px;
}

/* #endregion */

/* --------------- Sidebar Params --------------- */