
/*        Icon Classes        */

.icon,
.icon_no_hover {
    border-radius: 5px;
    color: var(--icon-color);
    background-color: var(--icon-background-color);
}

.icon[hidden] {
    visibility: hidden;
}

.icon[active] {
    color: var(--icon-active-color);
}

.icon_text[active]{
    color: var(--icon-active-color);
}

.icon:hover,
.icon_text:hover,
.sel_highlight:hover {
    background-color: var(--icon-hover-color);
}

.icon[select] {
    color: var(--second-accent-color);
}

/*      Text Classes     */

.text, .icon_text,
.menu_text, .overlay_sub_menu_text {
    color: var(--text-color);
    font-family: var(--font);
    text-align: center;
    text-wrap: nowrap;
    user-select: none;
}

.icon_text {
    font-weight: bold;
    user-select: none;
}
