:root {
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --background-fill: #2a2e39;
    --layout-main-fill: #131722;
    --background-fade-light: #252934;
    --background-fade-dark: #191b23;
    --hover-color: #2a2e39;
    --hover-color-light: #454c5e;

    --text-color: #b2b5be;
    --text-light-color: #f3f0f0;
    --text-dark-color: #707277;
    --text-near-black-color: #131722;
    --accent-color: #2962ff;
    --second-accent-color: #f9a825;
    --separator-color: #222631;

    --chart-border: var(--background-fill);
    --chart-border-hover: #434d66;
    --chart-background: var(--background-fill);
    --chart-separator-fill: var(--background-fill);
    --chart-separator-hover: #434d66;

    --tab-text-color: var(--text-color);
    --tab-text-inactive-color: var(--text-dark-color);
    --tab-close-color: var(--text-color);
    --tab-close-hover: var(--text-light-color);
    --tab-close-active: var(--text-color);

    --tab-divider-color: var(--layout-main-fill);
    --tab-hover-color: var(--hover-color-light);
    --tab-active-color: var(--layout-main-fill);
    --tab-background-color: var(--background-fill);

    --overlay-fill: #1e222d;
    --overlay-shadow: #0007;
    --overlay-menu-separator: var(--accent-color);

    --icon-color: #d1d4dc;
    --icon-hover-color: #2a2e39;
    --icon-gray-color: #454c5e;
    --icon-dark-color: var(--layout-main-fill);
    --icon-active-color: var(--accent-color);
    --icon-background-color: #0000;

    --topbar-icon-hover-color: var(--icon-hover-color);
    --topbar-icon-active-color: var(--icon-active-color);
    --topbar-icon-background-color: var(--icon-background-color);
    --topbar-separator-color: var(--separator-color);

    --toolbar-icon-hover-color: var(--icon-hover-color);
    --toolbar-icon-active-color: var(--icon-active-color);
    --toolbar-icon-background-color: var(--icon-background-color);
    --toolbar-separator-color: var(--separator-color);

    --legend-bg-color: #0003;
    --legend-bg-color-hover: #0005;
    --legend-border-color: #0000;
    --legend-border-color-hover: #7774;

    --chart-text-color: #b2b5be;
    --chart-bg-color-top: #171c27;
    --chart-bg-color-bottom: #131722;
    --chart-grid: #222631;
    --chart-grid-vert: var(--chart-grid);
    --chart-grid-horiz: var(--chart-grid);
    --chart-axis-border: #161a25;

    --chart-xhair-mode: 0;
    --chart-right-offset: 20;
    --chart-scale-mode: 1;
    --chart-tv-logo: true;
    --chart-scale-mode-left: var(--chart-scale-mode);
    --chart-scale-mode-right: var(--chart-scale-mode);

    --tooltip-text: var(--text-color);
    --tooltip-color: var(--accent-color);
    --tooltip-background: var(--hover-color-light);

    --indicator-border-color: #b2b5be;
    --indicator-group-text-color: var(--accent-color);
    --indicator-background-fade: var(--background-fade-dark);
    /* --indicator-background-fade: #00000020; */
}