
#overlay_manager {
    position: absolute;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0000;
    pointer-events: none;
    overflow: hidden;
    z-index: 50;
}

.overlay {
    pointer-events: all;
    z-index: inherit;
    position: fixed;

    border-radius: 5px;
    box-shadow: 0 2px 10px #0007;
    background-color: var(--overlay-fill);
}

.drag_handle{cursor:grab}
.drag_handle:active{cursor:grabbing}