
#symbol_box {
    margin-left: 6px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#search_text {
    height: 100%;
    text-align: left;
    font-weight: bold;
    min-width: 4em;
    border-radius: 5px;
}

.symbol_menu {
    width:75%;
    height:70%
}

/* **** Title Bar **** */

.symbol_title_bar {
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.symbol_search_icon {
    margin-left : 15px;
    color: var(--icon-color);
    background-color: var(--icon-background-color);
}

#symbol_search_drag {
    flex-grow: 1;
    height: 45px;
}

/* **** Text Input **** */

.symbol_input {
    display: flex;
    padding: 0px 20px;
    margin: 6px 0px;
}

.symbol_input .search_input {
    width: -webkit-fill-available;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-width: 0px 0px 2px 0px;
    margin: 0px 20px;
    padding: 0px 20px;
    text-align: left;
    font-size: larger;
    text-transform: uppercase;
}

.symbol_input .search_input:focus {
    outline: none;
    border-color: var(--second-accent-color);
}

.symbol_input .search_submit {
    width: 15%;
    height: -webkit-fill-available;
    background-color: transparent;
    font-size: larger;
}

.symbol_input .search_submit:active {
    color: var(--accent-color);
}


/* **** Filter Bubbles **** */


.symbol_select_filter {
    display:flex;
    flex-direction: row;
    align-items: center;

    height:auto;
    margin:6px 10px;
    padding: 0px 10px;
    text-align:left;
    font-size: large;
}

.bubble_item {
    margin: 0px 5px;
    padding: 0px 10px;
    border-radius: 35px;
    background-color: var(--background-fill);
}

.bubble_item[active] {
    color: black;
    background-color: var(--accent-color);
}


/* **** Symbol List **** */


.symbol_list {
    width: -webkit-fill-available;
    /*For some weird reason fill-available isn't working => magic number. */
    height: calc(100% - 200px);
    margin: 4px 20px;
    text-align: left;
    border: 2px solid var(--background-fill);
    border-radius: 10px;
    background-image: linear-gradient(0deg, var(--overlay-fill) 0%, var(--overlay-fill) 90%, var(--background-fill) 100%);
}

#symbols_table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-spacing: 0px;
}

.symbol_list_item {
    display: flex;
    width: -webkit-fill-available;
    margin: 4px 10px;
    align-items: center;
    text-align: left;
    border-radius: 5px;
}

table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    scrollbar-color: var(--accent-color) transparent;
}

table tbody tr:hover {
    background-color: var(--hover-color);
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

#symbols_table thead {
    border: solid var(--accent-color);
    border-width: 0px 0px 1px 0px;
}

#symbols_table thead tr th,
#symbols_table tbody tr td {
    overflow: hidden;
    width: 15%;
}
 
/* Make the name column a little larger */
#symbols_table thead tr th:nth-child(2),
#symbols_table tbody tr td:nth-child(2) {
    width: 40%
}

.symbol_list th,
.symbol_list td {
    box-sizing: border-box;
    padding-left: 5px;
    border: solid var(--background-fill);
    border-width: 0px 0px 0px 3px;
    /* border-radius: 5px; */
}


