.frame {
    position: absolute;
    box-sizing: border-box;
    border: solid var(--chart-border) 2px;
    border-radius: 2px;
    background-color: var(--layout-main-fill);
}

.frame[active] {
    border-color: var(--chart-border-hover);
}

.frame[target] {
    border-color: var(--second-accent-color);
}