.tabs .tab .tab-title,
.tabs .tab[active] .tab-title,
.tabs .tab .tab-price,
.tabs .tab[active] .tab-price {
    height: -webkit-fill-available;
    color: var(--text-color);
    text-align: left;
    text-wrap: nowrap;
    font-family: var(--font);
    font-weight: bold;
    font-size: larger;
}


.tabs {
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
    height: 46px;
    padding: 4px 3px 4px 3px;
    background: var(--tab-background-color);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.tabs * {
    box-sizing: inherit;
    font: inherit;
}

.tabs .tabs-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.tabs .tab {
    position: absolute;
    left: 0;
    height: 36px;
    width: 240px;
    border: 0;
    margin: 0;
    z-index: 1;
    pointer-events: none;
}

.tabs .tab,
.tabs .tab * {
    user-select: none;
    cursor: default;
}

.tabs .tab .tab-dividers {
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: var(--tab-content-margin);
    right: var(--tab-content-margin);
}

.tabs .tab .tab-dividers,
.tabs .tab .tab-dividers::before,
.tabs .tab .tab-dividers::after {
    pointer-events: none;
}

/* .tabs .tab .tab-dividers::before, */
.tabs .tab .tab-dividers::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--tab-divider-color);
    opacity: 1;
    transition: opacity 0.2s ease;
}

.tabs .tab .tab-dividers::before {
    left: 0;
}

.tabs .tab .tab-dividers::after {
    right: 0;
}

.tabs .tab:first-child .tab-dividers::before,
.tabs .tab:last-child .tab-dividers::after {
    opacity: 0;
}

.tabs .tab .tab-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.tabs .tab .tab-background>svg {
    width: 100%;
    height: 100%;
}

.tabs .tab .tab-background>svg .tab-geometry {
    fill: var(--tab-hover-color);
}

.tabs .tab[active] {
    z-index: 5;
}

.tabs .tab[active] .tab-background>svg .tab-geometry {
    fill: var(--tab-active-color);
}

.tabs .tab:not([active]) .tab-background {
    transition: opacity 0.2s ease;
    opacity: 0;
}

@media (hover: hover) {
    .tabs .tab:not([active]):hover {
        z-index: 2;
    }

    .tabs .tab:not([active]):hover .tab-background {
        opacity: 1;
    }
}

.tabs .tab.tab-was-just-added {
    top: 10px;
    animation: tab-was-just-added 120ms forwards ease-in-out;
}

.tabs .tab .tab-content {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: var(--tab-content-margin);
    right: var(--tab-content-margin);
    padding: 9px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    pointer-events: all;
}

.tabs .tab[is-mini] .tab-content {
    padding-left: 2px;
    padding-right: 2px;
}

.tabs .tab .tab-favicon {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    height: 18px;
    width: 18px;
    background-size: 18px;
    margin-left: 4px;
    border-radius: 50%;
}

.tabs .tab[is-small] .tab-favicon {
    margin-left: 0;
}

.tabs .tab[is-mini]:not([active]) .tab-favicon {
    margin-left: auto;
    margin-right: auto;
}

.tabs .tab[is-mini][active] .tab-favicon {
    display: none;
}

.tabs .tab .tab-title {
    flex: 0 0 auto;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    color: var(--tab-text-inactive-color);
}

.tabs .tab[is-small] .tab-title,
.tabs .tab[is-smaller] .tab-title {
    flex: 1;
    mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
}


.tabs .tab[is-small] .tab-title {
    margin-left: 0;
}

.tabs .tab .tab-favicon+.tab-title,
.tabs .tab[is-small] .tab-favicon+.tab-title {
    margin-left: 8px;
}

.tabs .tab[is-smaller] .tab-favicon+.tab-title,
.tabs .tab[is-mini] .tab-title {
    display: none;
}

.tabs .tab[active] .tab-title {
    color: var(--tab-text-color);
}


.tabs .tab .tab-price {
    flex: 1;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    color: var(--tab-text-inactive-color);
    mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
    margin-left: 4px;
    padding-left: 2px;
    border-left: solid 1px var(--tab-text-inactive-color)
}


.tabs .tab[active] .tab-price {
    border-left: solid 1px var(--accent-color)
}

.tabs .tab .tab-price[empty] {
    border-left: solid 0px
}

.tabs .tab[is-small] .tab-price,
.tabs .tab[is-smaller] .tab-price,
.tabs .tab[is-mini] .tab-price {
    display: none;
}

.tabs .tab[active] .tab-price {
    color: var(--tab-text-color);
}

.tabs .tab .tab-drag-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tabs .tab .tab-close {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0, .65)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 8px 8px;
    background-color: var(--tab-close-color);
}

@media (hover: hover) {
    .tabs .tab .tab-close:hover {
        background-color: var(--tab-close-hover);
    }

    .tabs .tab .tab-close:hover:active {
        background-color: var(--tab-close-active);
    }
}

@media not all and (hover: hover) {
    .tabs .tab .tab-close:active {
        background-color: var(--tab-close-active);
    }
}

@media (hover: hover) {
    .tabs .tab:not([active]) .tab-close:not(:hover):not(:active) {
        opacity: 0.8;
    }
}

.tabs .tab[is-smaller] .tab-close {
    margin-left: auto;
}

.tabs .tab[is-mini]:not([active]) .tab-close {
    display: none;
}

.tabs .tab[is-mini][active] .tab-close {
    margin-left: auto;
    margin-right: auto;
}

@-moz-keyframes tab-was-just-added {
    to {
        top: 0;
    }
}

@-webkit-keyframes tab-was-just-added {
    to {
        top: 0;
    }
}

@-o-keyframes tab-was-just-added {
    to {
        top: 0;
    }
}

@keyframes tab-was-just-added {
    to {
        top: 0;
    }
}

.tabs.tabs-is-sorting .tab:not(.tab-is-dragging),
.tabs:not(.tabs-is-sorting) .tab.tab-was-just-dragged {
    transition: transform 120ms ease-in-out;
}

/* .tabs .tabs-bottom-bar {
    position: absolute;
    bottom: 0;
    height: 4px;
    left: 0;
    width: 100%;
    background: #0ff;
    z-index: 10;
} */

.tabs-optional-shadow-below-bottom-bar {
    position: relative;
    height: 1px;
    width: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1' viewBox='0 0 1 1'><rect x='0' y='0' width='1' height='1' fill='rgba(0, 0, 0, .17)'></rect></svg>");
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 0%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .tabs-optional-shadow-below-bottom-bar {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'><rect x='0' y='0' width='2' height='1' fill='rgba(0, 0, 0, .27)'></rect></svg>");
    }
}