
/* ********** ToolBar Layout ********** */ 
.toolbar {
    flex: 1 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.toolbar_separator {
    width: 70%;
    height: 2px;
    background-color: var(--toolbar-separator-color);
    margin: 6px 2px;
    flex-shrink: 0;
}

.toolbar_container {
    display: flex;
    height: 28px;
    width: -webkit-fill-available;
    margin: 3px 0px;
    margin-left: 9px;
    flex-direction: row;
}

.toolbar_menu_button {
    width: 8px;
    height: 28px;
    border-radius: 5px;
    align-items: center;
}

.toolbar_menu_button:hover {
    background-color: var(--icon-hover-color);
}

/* ********** ToolBox Visibility Button ********** */

.toolbox_btn {
    padding: 3px;
}

.toolbox_btn_wrap{
    margin: 10px 4px 16px;
} 

/* CSS Work around for not being able to use the "activated" Prop
on an Icon when it needs to be driven by an Overlay Visibility
Accessor */
.toolbox_btn_wrap #star_filled {
    color: var(--icon-dark-color);
    background-color: var(--accent-color);
}


/* ********** Floating ToolBox Overlay ********** */

#toolbox {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#toolbox .icon {
    width: 28px;
    height: 28px;
    margin: 4px 1px;
}

#toolbox #menu_dragable {
    width: 20px;
    height: 20px;
    margin: 4px 1px;
    color:var(--icon-gray-color);
}