
/* ------- Widget Bar Icons ------- */

.widget_bar_icon{
    border-radius: 5px;
    color: var(--icon-color);
    background-color: var(--icon-background-color);
}
.widget_bar_icon[active]{
    color: var(--icon-dark-color);
    background-color: var(--accent-color)
}
.widget_bar_icon:hover{
    color: var(--icon-color);
    background-color: var(--icon-hover-color);
}
.widget_bar_icon:hover[active]{
    color: var(--accent-color);
}


/* ------- Widget Panel Resize Element ------- */

.widget_panel {
    padding: 8px;
    user-select: none;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.widget_panel::after {
    content:'';
    position: absolute;
    left: 0;
    width: 6px;
    height: 100%;
    cursor: ew-resize;
}


/* ------- Widget Panel Title Element ------- */

.widget_panel .widget_panel_title {
    color: var(--text-color);
    font-family: var(--font);
    text-align: left;
    text-wrap: nowrap;
    user-select: none;

    width: -webkit-fill-available;
    margin: 5px 10px;
    border-bottom: 1px solid var(--accent-color);
    padding: 0px 6px 6px 6px;
    font-weight: bolder;

}